<hr>

<footer>
  <h3>© 2026 UptownFresh</h3>
</footer>

<!-- Loader -->
<div id="loader">
    <div class="spinner"></div>
</div>

<!-- Toast -->
<div id="toast"></div>

<!-- Global Scripts -->
<!-- <script src="/loading.js"></script> -->
<script src="/toast.js"></script>