<nav class="navbar">

<div class="logo">
<a href="/" style="text-decoration:none;color:#27ae60;">
UptownFresh
</a>
</div>

<ul class="nav-links">

<li><a href="/">Home</a></li>

<li><a href="/products">Products</a></li>

<li>
<a href="/cart">

Cart
<span

id="cartCount"

style="
background:#27ae60;
color:white;
padding:2px 8px;
border-radius:50%;
font-size:13px;
margin-left:5px;
">

0

</span>

</a>

</li>

<li id="ordersLink">
<a href="/orders">Orders</a>
</li>

<li id="profileLink">
<a href="/profile">Profile</a>
</li>

<li id="adminLink">
<a href="/admin">Admin</a>
</li>

<li id="addProductLink">
<a href="/addProduct">Add Product</a>
</li>

</ul>

<div id="userSection">

<a id="loginBtn" href="/login">
Login
</a>

<a id="signupBtn" href="/signup">
Signup
</a>

<span
id="userInfo"
style="
font-weight:600;
margin-left:15px;
color:#27ae60;
">
</span>

<button
id="logoutBtn"
onclick="logout()"
style="
display:none;
margin-left:10px;
padding:10px 18px;
background:#e74c3c;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
">

Logout

</button>

</div>

<script>

const email = localStorage.getItem("userEmail");
const token = localStorage.getItem("token");
const role = localStorage.getItem("userRole");

// Default Hide
document.getElementById("adminLink").style.display = "none";
document.getElementById("addProductLink").style.display = "none";
document.getElementById("ordersLink").style.display = "none";
document.getElementById("profileLink").style.display = "none";

if(email && token){

document.getElementById("userInfo").innerHTML =
"👤 " + email;

document.getElementById("logoutBtn").style.display =
"inline-block";

document.getElementById("loginBtn").style.display =
"none";

document.getElementById("signupBtn").style.display =
"none";

document.getElementById("ordersLink").style.display =
"block";

document.getElementById("profileLink").style.display =
"block";

if(role === "admin"){

document.getElementById("adminLink").style.display =
"block";

document.getElementById("addProductLink").style.display =
"block";

}

}

function logout(){

localStorage.removeItem("token");
localStorage.removeItem("userEmail");
localStorage.removeItem("userRole");
localStorage.removeItem("cart");


alert("Logout Successful");

window.location.replace("/login");

}

function updateCartCount(){

const cart =
JSON.parse(
localStorage.getItem("cart")
) || [];

document.getElementById(
"cartCount"
).innerText =
cart.length;

}

updateCartCount();

</script>

</nav>