<nav class="navbar">

<div class="logo">UptownFresh</div>

<ul class="nav-links">
<li><a href="/">Home</a></li>
<li><a href="/products">Products</a></li>
<li><a href="/cart">Cart</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/signup">Signup</a></li>
<li><a href="/admin">Admin</a></li>
</ul>

</nav>