<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Manage Orders</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("partials/navbar") %>

<h1 class="page-title">

📦 Manage Customer Orders

</h1>

<div
id="ordersContainer"
class="products-container"
>

Loading Orders...

</div>

<%- include("partials/footer") %>

<script src="/toast.js"></script>
<script src="/adminOrders.js"></script>

</body>

</html>