<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>My Orders</title>

<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="data:,">

</head>

<body>

<%- include("partials/navbar") %>

<h1 class="page-title">
📦 My Orders
</h1>

<div
id="orders"
class="products-container"
>

Loading...

</div>

<script src="/toast.js"></script>

<script>

// const token = localStorage.getItem("token");

async function loadOrders(){

try{

const response = await fetch(
"http://localhost:5000/api/orders/my",
{
headers:{
Authorization:`Bearer ${localStorage.getItem("token")}`
}
}
);

const orders = await response.json();

let html = "";

if(!orders.length){

html = `

<div
style="
width:100%;
text-align:center;
padding:60px;
"
>

<h2>
📦 No Orders Yet
</h2>

<p>
Start Shopping Fresh Products
</p>

<br>

<a
href="/products"
class="btn"
>

🛒 Shop Now

</a>

</div>

`;

}else{

orders.forEach(order=>{

let productsHTML = "";

order.products.forEach(item=>{

productsHTML += `

<li>

${item.productId.name}

&nbsp;

<b>x${item.quantity}</b>

</li>

`;

});

html += `

<div class="product-card">

<h2>

🧾 Order

</h2>

<hr>

<p>

<b>Status :</b>

<span
style="
color:green;
font-weight:bold;
"
>

${order.status}

</span>

</p>

<p>

<b>Total :</b>

₹${order.totalPrice}

</p>

<p>

<b>Items :</b>

${order.products.length}

</p>

<p>

<b>Date :</b>

${new Date(order.createdAt).toLocaleString()}

</p>

<br>

<h3>

Products

</h3>

<ul>

${productsHTML}

</ul>

<button
class="btn"
onclick="downloadInvoice('${order._id}')"
>

🧾 Download Invoice

</button>

</div>

`;

});

}

document.getElementById("orders").innerHTML = html;

}catch(error){

console.log(error);

showToast(
"Unable To Load Orders",
"error"
);

}

}

loadOrders();

async function downloadInvoice(orderId){

const token = localStorage.getItem("token");

const response = await fetch(

`http://localhost:5000/api/orders/invoice/${orderId}`,

{

headers:{
Authorization:`Bearer ${token}`
}

}

);

if(!response.ok){

showToast("Invoice Download Failed","error");

return;

}

const blob = await response.blob();

const url = window.URL.createObjectURL(blob);

const a = document.createElement("a");

a.href = url;

a.download = "Invoice.pdf";

document.body.appendChild(a);

a.click();

a.remove();

window.URL.revokeObjectURL(url);

}

</script>

</body>

</html>