<!DOCTYPE html>

<html>
<head>
  <title>Products</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <input
id="search"
type="text"
placeholder="🔍 Search Products..."
>
 

<%- include("partials/navbar") %>

<h1 class="page-title">
Products
</h1>

<div
  id="products-container"
  class="products-container"
>
Loading Products...
</div>

<%- include("partials/footer") %>

<script src="/js/products.js"></script>

</body>
</html>
