<!DOCTYPE html>
<html>
<head>
<title>Signup</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup - UptownFresh</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("partials/navbar") %>

<div class="form-container">

<h2>Create Account</h2>

<form>

<input
type="text"
placeholder="Enter Name"
required

>

<input
type="email"
placeholder="Enter Email"
required

>

<input
type="password"
placeholder="Enter Password"
required

>

<button type="submit">
Signup
</button>

</form>

<p style="margin-top:15px;text-align:center;">
Already have an account?
<a href="/login">Login</a>
</p>

</div>

<%- include("partials/footer") %>

<script src="signup.js"></script>

</body>
</html>

<body>

<!-- <h1>Signup Page</h1>

<form>
<input type="text" placeholder="Name">
<input type="email" placeholder="Email">
<input type="password" placeholder="Password">
<button type="submit">Signup</button>
</form>

<script src="/js/signup.js"></script>

</body> -->
</html>