<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Wishlist</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("partials/navbar") %>

<h1 class="page-title">

❤️ My Wishlist

</h1>

<div
id="wishlistContainer"
class="products-container"
>

Loading...

</div>

<%- include("partials/footer") %>

<script src="/toast.js"></script>
<script src="/wishlist.js"></script>

</body>

</html>